<% @blogs.each do |blog| %>
    <article>
      <div class="misc clearfix">
        <span class="item pull-right">
          <%= fa_icon "comments" %>
          <%= blog.comment_count %>条评论
        </span>
        <span class="item pull-right">
          <%= fa_icon "calendar-o" %>
          <%= l blog.created_at %>
        </span>
      </div>
      <h2><%= link_to blog.title, blog_path(blog.slug) %></h2>

      <div class="misc clearfix">
        <% if blog.category.present? %>
            <%= link_to fa_icon("book") + ' ' +blog.category.name, '', :class => 'pull-left item' %>
        <% end %>
        <% if blog.tag_list.present? %>
            <% blog.tags.each do |tag| %>
                <%= link_to fa_icon("tag") + ' ' +tag.name, '', :class => 'pull-left item' %>
            <% end %>
        <% end %>
      </div>
      <div class="content">
        <%= raw blog.html_content_summary %>
      </div>
      <div>
        <%= link_to fa_icon("arrow-right") + " 阅读全文...", blog_path(blog.slug), :class => 'readmore' %>
      </div>
    </article>
<% end %>