<article>
  <div class="misc clearfix">
        <span class="item pull-right">
          <%= fa_icon "comments" %>
          <%= @blog.comment_count %>条评论
        </span>
        <span class="item pull-right">
          <%= fa_icon "calendar-o" %>
          <%= l @blog.created_at %>
        </span>
  </div>
  <h2><%= @blog.title %></h2>

  <div class="misc clearfix">
    <% if @blog.category.present? %>
        <%= link_to fa_icon("book") + ' ' + @blog.category.name, category_path(@blog.category.name), :class => 'pull-left item' %>
    <% end %>
    <% if @blog.tag_list.present? %>
        <% @blog.tags.each do |tag| %>
            <%= link_to fa_icon("tag") + ' ' + tag.name, tag_path(tag.name), :class => 'pull-left item' %>
        <% end %>
    <% end %>
  </div>
  <div class="content">
    <%= raw @blog.html_content %>
  </div>

  <div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'chaoskeh'; // required: replace example with your forum shortname
        var disqus_identifier = <%= @blog.id %>;

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</article>

<% content_for :title do %><%= @blog.title %> - <% end %>