<header class="text-center">
  <% if Setting.website.avatar.present? %>
  <div class="img-wrap">
    <img class="img-circle" src="<%= Setting.website.avatar %>">
  </div>
  <% end %>

  <h1><%= Setting.website.title %></h1>

  <p><%= simple_format Setting.website.sub_title %></p>

  <div class="brand">
    <%= website_link :weibo, :icon=>"weibo", :title => "新浪微博" %>
    <%= website_link :github, :url=> "https://github.com/#{Setting.website.github}", :icon=>"github", :title => "Github" %>
    <%= website_link :donate, :icon=>"coffee", :title => "打赏咖啡一杯" %>
    <%= link_to fa_icon("rss-square"), feed_path(:format=>:rss), :target => '_blank', :title => 'RSS' %>
  </div>
</header>