<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %><%= Setting.website_title %></title>

  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <%= auto_discovery_link_tag(:rss, feed_path(:format=>:rss), :title=>Setting.website_title) %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/font_family' %>
</head>
<body>
<div class="row" style="margin:0;">
  <div class="col-md-3 col-sm-12 left">
    <%= render_cell :banner, :show %>

    <nav>
      <ul>
        <li>
          <%= link_to "Blog", '/', :class => nav_class('blog') %>
        </li>
        <li>
          <%= link_to "Archives", archive_path, :class => nav_class('archive') %>
        </li>
        <li>
          <a href="">About</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-offset-3 col-md-9 col-sm-12 main">
    <%= yield %>
  </div>
</div>
</body>
</html>
